# TP_CHALLENGE:NDIOGOU MBODJ

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
data=pd.read_csv("ecoli.data",names=['Noms','class'])
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336 entries, 0 to 335
Data columns (total 2 columns):
Noms     336 non-null object
class    0 non-null float64
dtypes: float64(1), object(1)
memory usage: 5.3+ KB

                                                Noms  class
0  AAT_ECOLI   0.49  0.29  0.48  0.50  0.56  0.24...    NaN
1  ACEA_ECOLI  0.07  0.40  0.48  0.50  0.54  0.35...    NaN
2  ACEK_ECOLI  0.56  0.40  0.48  0.50  0.49  0.37...    NaN
3  ACKA_ECOLI  0.59  0.49  0.48  0.50  0.52  0.45...    NaN
4  ADI_ECOLI   0.23  0.32  0.48  0.50  0.55  0.25...    NaN

In [4]:
dataName=pd.read_csv("ecoli.names", header=None)
dataName

                                                    0
0   1.  Sequence Name: Accession number for the SW...
1   2.  mcg: McGeoch's method for signal sequence ...
2   3.  gvh: von Heijne's method for signal sequen...
3   4.  lip: von Heijne's Signal Peptidase II cons...
4                                   Binary attribute.
5   5.  chg: Presence of charge on N-terminus of p...
6                                \t Binary attribute.
7   6.  aac: score of discriminant analysis of the...
8         \t outer membrane and periplasmic proteins.
9   7. alm1: score of the ALOM membrane spanning r...
10  8. alm2: score of ALOM program after excluding...
11                      \t regions from the sequence.
12                                        9. class\t